#Tue, 04 Jun 2013 16:50:06 +0300
app.name=Sencha_mobile

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=505fc9bb-f8ec-4052-ac70-1f5f2b33fca0
